<html>

  <head>

  </head>

  <body>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--####
### How to add in your boostrap project
1) Add jQuery "<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>"
2) Download fancybox (https://github.com/fancyapps/fancyBox)
3) Or use CDN (http://cdnjs.com/libraries/fancybox)
####--!>

<!-- References: https://github.com/fancyapps/fancyBox -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<div class="container">
	<div class="row">
		<div class='list-group gallery'>
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\trigo.jpg">
                  <img src="assets\Imagens\trigo.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Trigo</small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\soja.jpeg">
                  <img src="assets\Imagens\soja.jpeg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Soja</small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\milho.jpg">
                  <img src="assets\Imagens\milho.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Milho</small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\girassol.jpg">
                  <img src="assets\Imagens\girassol.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Semente de Girassol</small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\feijaoP.jpg">
                  <img src="assets\Imagens\feijaoP.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Fejao Preto</small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\feijaoC.jpg">
                  <img src="assets\Imagens\feijaoC.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Feijao Carioca</small>
                    </div> <!-- text-right / end -->
                </a>
            </div>

            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
              <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\cevada.jpg">
                  <img src="assets\Imagens\cevada.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Cevada</small>
                    </div> <!-- text-right / end -->
                </a>
            </div>

            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="assets\Imagens\arroz.jpg">
                    <img src="assets\Imagens\arroz.jpg" class="img-responsive" alt="Image" style="width:100%"/>
                    <div class='text-right'>
                        <small class='text-muted'>Arroz</small>
                    </div> <!-- text-right / end -->
                </a>
            </div>
             <!-- col-6 / end -->

        </div> <!-- list-group / end -->
	</div> <!-- row / end -->
</div> <!-- container / end -->
  </body>

</html>
