<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<meta charset="utf-8" />
<div class="container">
                <div class="row">
<div class="main_portfolio_content">
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                  <img src="http://1.bp.blogspot.com/-o4Mzml1AcHM/UfV_SaYtZII/AAAAAAAAAZs/-OnPieEPZ2U/s1600/parbo_arroz.jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Arroz Branco</h6>
                                        <p class="product_price">$12</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="https://png.pngtree.com/element_origin_min_pic/16/08/26/1657bffe4a4ed4a.jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Milho</h6>
                                        <p class="product_price">$25</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="http://4.bp.blogspot.com/-Ovc_rQyaP6E/UPxsWymD1TI/AAAAAAAAASU/QgXBStPmvhE/s1600/expanded_32633.jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Trigo</h6>
                                        <p class="product_price">$23</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="https://i1.wp.com/guiasaudavel.com/blogwp/wp-content/uploads/2015/07/cevada.jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Cevada</h6>
                                        <p class="product_price">$19</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="https://png.pngtree.com/element_origin_min_pic/16/10/13/0957fee4950c879.jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Sementes de Girassol</h6>
                                        <p class="product_price">$14</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="https://www.camil.com.br/files/media/uploads/produto-tipo-feijao-v2-2-feijao.png" height="170" width="220">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Feijao Carioca</h6>
                                        <p class="product_price">$13</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="https://png.pngtree.com/element_origin_min_pic/03/83/80/0357d4fae9b3d1d.jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Feijao Preto</h6>
                                        <p class="product_price">$16</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
                                  <div style="border:1px solid black;">
                                    <img src="https://img.freepik.com/free-photo/soy-beans_1339-224.jpg?size=338&ext=jpg" height="170" width="250">
                                    <div class="portfolio_images_overlay text-center">
                                        <h6>Soja</h6>
                                        <p class="product_price">$22</p>
                                        <a href="/compras" class="btn btn-success">Clique aqui.</a>
                                    </div>
                                  </div>
                                </div>
